{% load staticfiles %}
<!DOCTYPE html>
<html lang="ko">

<header>
    <title>{% block page_title %}MKJ's 갤러리{% endblock %}</title>
    <meta charset="utf-8">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<style>
		.carousel-inner > .item > img,
		.carousel-inner > .item > a > img {
            width:100%;
            height:auto;
		}
        .nav{
            background-color: lightgreen;
        }
        .col-md-8{
            background-color: lightblue;
        }
        .page-header{
            padding:20px;
            background-color: orange;
        }
	</style>
</header>

<section>
    <div class="page-header">
        <h1><a href="/">MKJ's 갤러리</a></h1>
    </div>
        
    <div class="content container">
        <div class="row">
            <ul class="nav nav-pills nav-stacked col-sm-2 col-xs-2" role="tablist">
                <li><a href="{% url 'view_photos' %}">Home</a></li>
                <li><a href="{% url 'login' %}">로그인</a></li>
                <li><a href="{% url 'new_photo' %}">사진 올리기</a></li>
            </ul>
            <div class="col-sm-10 col-xs-10">{% block content %}{% endblock %}
            </div>
        </div>
    </div>

</section>
<footer>
    <div class="page-footer">
        <table class="col-sm-4 col-sm-offset-4 col-xs-4 col-xs-offset-4" align="left" >
            <tr>
                <td>
                    <h3 align="center">Contact</h3>
                    <p align="center">Admin E-mail : isaac1103@gmail.com</p>
                </td>
            </tr>
        </table>
    </div>
</footer>

</html>